
/*
overall ==================== */
.flex {
	/* align-items: center; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

body {
	font-family: 'Droid Sans', sans-serif;
	letter-spacing: 1.5px;
	line-height: 1.5;
	margin-top: 80px;
}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Raleway', sans-serif;
}

.red {
	color: red;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
}

.li-none {
	list-style: none;
}

.contato h1,
.gallery-produtos h1 {
  margin-bottom: 22px;
}

/*
nav ==================== */
.logo {
	float: left;
	width: 80px;
	margin-right: 10px;
}

.brand-mine {
  margin-top: 25px;
  width: 100px;
}

.logo-text {
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	margin-top: 25px;
	text-transform: uppercase;
}

.nav-styles {
  background-color: rgb(255, 197, 0);
  border-bottom: none;
  border-radius: 0;
  color: white;
  height: 80px;
  margin-bottom: 0px;
}

/*
header ==================== */
.header {
  background-color: #ffc500;
  font-family: 'Roboto', sans-serif;
}

#bs-example-navbar-collapse-1 {
  margin-right: 40px;
}
  
#bs-example-navbar-collapse-1 a {
  color: #192314;
  padding-top: 33px;
  letter-spacing: 1px;
  background-color: #ffc500;
}

#bs-example-navbar-collapse-1 a:hover {
	color: #ff0006;
	/*transition: .4s;*/
}

.jumbotron-style {
	background-color: rgb(255, 197, 0);
	color: #192314;
	padding-bottom: 5px;
	padding-top: 20px;
}


/*
body ==================== */
.carousel img {
  height: 550px;
  margin: auto;
  margin-top: 30px;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	color: black;
	opacity: .7;
}

.carousel-caption {
  background-color: white;
  bottom: -5px;
  color: #ff2020;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0px;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px white;
  /* font-family: 'open sans'; */
}

/*
produtos (gallery) ==== */
.gallery-produtos {
	padding-top: 30px;
  margin-top: 40px;
  background-color: #283535;
  color: white;
  height: 520px;
	text-shadow: 2px 0px 0px black; 
}

.titulo-prod {
	padding: 10px 0;
}

.img-marca {
	height: 100px;
	border: 1px solid red;
}

/*
contato ==================== */
.contato {
	background-color: #f9f9f9;
	height: 360px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.contato div {
  padding-bottom: 20px;
}

.contato li {
	padding-left: 20px;
}

.telefone,
.whatsapp {
	padding-right: 10px;
}

.telefone {
	background-image: url('');
}

.whatsapp {
	background-image: url('');
}

/*
mapa ==================== */
iframe.centered-img {
  height: 500px;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
footer ==================== */
.footer {
  color: #676767;
  background-color: white;
  height: 35px;
  font-size: .85em;
  padding-top: 10px;
}

/*
media queries ==================== */
@media (max-width: 768px) {
	
	/*
	nav ============= */
	.brand-mine {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}

	/*
	produtos ============= */
	.gallery-produtos {
		height: 740px;
	}

	/*
	contato ============= */
	.contato {
		height: 700px;
	}

	.contato div {
		margin-left: 15px;
	}

}

@media (max-width: 991px) {

	/*
	contato ============= */
	.contato {
		height: 780px;
	}

}