


/*
overall ==================== */
/*.flex {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
*/

/*
header ==================== */
.logo {
	float: left;
	height: 120px;
	margin-right: 20px;
}

.logo-text {
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 3px;
	margin-top: 25px;
	text-transform: uppercase;
}

.header {
  background-color: rgb(255, 216, 0);
  border-bottom: 1px solid #c3c3c3;
  color: white;
  height: 80px;
}